<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <property name="LOG_ROOT" value="/data/java/Octopus/Octopus/log"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%thread][%file:%line] : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/console.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_ROOT}/console.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%thread][%file:%line] : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SYSTEM" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/system.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_ROOT}/system.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%thread][%file:%line] : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_ROOT}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%thread][%file:%line] : %msg%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="DATA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/data.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_ROOT}/data.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>72</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%thread][%file:%line] : %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.octopus.war.log.SystemLogger" level="DEBUG">
        <appender-ref ref="SYSTEM"/>
    </logger>

    <logger name="com.octopus.war.log.DataLogger" level="DATA">
        <appender-ref ref="DATA"/>
    </logger>

    <logger name="com.octopus" level="ERROR">
        <appender-ref ref="ERROR"/>
    </logger>

    <logger name="com.octopus" level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>